body {
    background-color: #ffffff;
    font-family: "DM Sans", sans-serif;
}

@media (max-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

h1 {
    font-family: "Playwrite AU QLD", sans-serif;
    font-size: 72px;
    padding: 0px 30px;
    line-height: 1.2;
}

button {
    display: inline-block;
    background-color: #5294ff;
    border: black solid 3px;
    box-shadow: 5px 5px;
    color: black;
    text-decoration: none;
    font-size: medium;
    font-weight: 400;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    border-radius: 5px;
}

button:active {
    box-shadow: none;
    transform: translate(5px, 5px);
}

.button {
    display: inline-block;
    background-color: #bbff00;
    border: black solid 3px;
    box-shadow: 5px 5px;
    color: black;
    text-decoration: none;
    font-size: medium;
    font-weight: 400;
    padding: 5px;
    cursor: pointer;
}

.button:hover {
    border-radius: 5px;
}

.button:active {
    box-shadow: none;
    transform: translate(5px, 5px);
}

.container {
    background-color: rgb(255, 251, 233);
    outline: black solid 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    box-shadow: 0px 10px;  
    scrollbar-width: thin;
    scrollbar-color: #706d58 transparent;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background: transparent;
}

.container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media (max-width: 900px) {
    .container {
        width: 320px !important;
        height: fit-content !important;
        overflow-y: visible !important;
    }
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: 20px;
}

@media (max-width: 900px) {
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding: 20px;
}

@media (max-width: 900px) {
    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
    gap: 21px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.mobileColumn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

@media (max-width: 900px) {
    .mobileColumn {
        flex-direction: column-reverse;
    }
}